body {
  margin: 0;
  padding: 0;
}

.master-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.container {
  height: 655px;
  width: 500px;
  border: 2px solid red;
  margin: 40px;
}

.display {
  display: flex;
  flex-direction: column-reverse;
  justify-content: last baseline;
  height: 160px;
  width: auto;
  margin: 20px;
  border: 1px solid red;
  font-family: "Libertinus Math", system-ui;
  font-size: 35px;
}
.content {
  padding: 0 0 15px 10px;
}

.btns {
  height: 420px;
  width: 456px;
  border: 1px solid red;
  display: flex;
  flex-direction: column;
  margin: 20px;
}
.row-1,
.row-2,
.row-3,
.row-4 {
  height: 105px;
  width: auto;
}

button {
  height: 105px;
  width: 111px;
}
.text {
  height: 60px;
  font-size: 40px;
  font-weight: 500;
  font-family: monospace;
  background-color: thistle;
  text-align: center;
  padding: 5px;
  border: 2px solid black;
}
